<div class="mt-8 space-y-5 max-w-md mx-auto">
  <% if controller_name != 'sessions' %>
    <%= link_to "Log in", new_session_path(resource_name), class: "block w-full text-center text-white bg-gradient-to-br from-blue-500 to-cyan-500 hover:from-blue-600 hover:to-cyan-600 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-800 font-medium rounded-lg text-base px-5 py-3 transition duration-300 ease-in-out transform hover:scale-105" %>
  <% end %>

  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "block w-full text-center bg-gradient-to-r from-green-400 to-teal-500 hover:from-green-500 hover:to-teal-600 text-white font-medium rounded-lg text-base px-5 py-3 shadow-lg transition duration-300 ease-in-out transform hover:scale-105" %>
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "block w-full text-center bg-gradient-to-r from-gray-500 to-gray-700 hover:from-gray-600 hover:to-gray-800 text-white font-medium rounded-lg text-base px-5 py-3 shadow-lg transition duration-300 ease-in-out transform hover:scale-105" %>
  <% end %>

  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "block w-full text-center bg-gradient-to-r from-yellow-400 to-orange-500 hover:from-yellow-500 hover:to-orange-600 text-white font-medium rounded-lg text-base px-5 py-3 shadow-lg transition duration-300 ease-in-out transform hover:scale-105" %>
  <% end %>

  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "block w-full text-center bg-gradient-to-r from-red-500 to-pink-600 hover:from-red-600 hover:to-pink-700 text-white font-medium rounded-lg text-base px-5 py-3 shadow-lg transition duration-300 ease-in-out transform hover:scale-105" %>
  <% end %>

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "block w-full text-center bg-gradient-to-r from-green-500 to-emerald-600 hover:from-green-600 hover:to-emerald-700 text-white font-medium rounded-lg text-base px-5 py-3 shadow-lg transition duration-300 ease-in-out transform hover:scale-105" %>
    <% end %>
  <% end %>
</div>
