<%= paginator.render do -%>
  <nav class="pagination flex justify-center items-center space-x-2 mt-8 p-4 bg-gray-100 rounded-lg shadow-md" role="navigation" aria-label="pager">
    <!-- "First" Page Link -->
    <%= first_page_tag unless current_page.first? %>

    <!-- "Previous" Page Link -->
    <%= prev_page_tag unless current_page.first? %>

    <!-- Page Numbers -->
    <% each_page do |page| -%>
      <% if page.display_tag? -%>
        <%= page_tag page %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
    <% end -%>

    <!-- "Next" Page Link -->
    <% unless current_page.out_of_range? %>
      <%= next_page_tag unless current_page.last? %>

      <!-- "Last" Page Link -->
      <%= last_page_tag unless current_page.last? %>
    <% end %>
  </nav>
<% end -%>
